<!DOCTYPE html>
<html>
<head>
    <title>GenZ Assistant</title>
    <style>
        body {
            background: #0f0f0f;
            color: white;
            font-family: Arial;
            text-align: center;
            padding: 50px;
        }
        h1 { color: #7c3aed; }
        p { color: #aaa; }
        button { color: #7c3aed; }
    </style>
</head>
<body>
    <h1>🤖 GenZ Assistant</h1>
    <p>Built by Abdul Ahad a genius</p>
    <p>A CS student from Poona College, Pune</p>
    <h2>My Projects</h2>
    <a href="https://github.com/abdulcodes-dev/genz-assistant-bot"> Click to visit my Git hub profile </a>
	<br>
    <button> <a href="http://t.me/astrox_ai_bot"> Visit My Bot </a>
</body>
</html>
